.nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.nav a {
    color: white;
    color: #00376E;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    padding: 10px;
    transition: background-color 600ms;
    border-radius: 14px 0 0 14px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 18px;
    position: sticky;
}

.navContainer {
    margin-top: 10px;
    width: 100%;
    position: sticky;
    top: 0;
}


.activeWarm {
    background-color: #e9c46a;
}

.activeCold {
    background-color: #99DDFF;

}

@media (max-width: 700px) {

    .navContainer {
        display: flex;

    }

    .nav {
        flex-direction: row;
        width: 100%;
        margin-top: 18px;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }

    .nav a, .nav a:first-of-type {
        text-align: center;
        width: 100%;
        border-radius: 14px 14px 0 0;
        margin: 20px 0 0 0;
        font-size: 15px;
        color: white;
    }


}