*{
    box-sizing: border-box;
}

body {
    background-color: #00458B;
    margin: 0;
    padding: 0;

}
h2{
    text-transform: uppercase!important;
    font-family: "Poppins",sans-serif;
    src: url('../src/Fonts/Poppins-Regular.ttf');
    margin:50px 0 90px 0;
    font-size: 40px;
}

.App {
    display: flex;
    /*height: 85vh;*/
}
.mainContainer{
    width: 90%;
    margin: 0 auto;
    min-width: 330px;
}
