*{
    box-sizing: border-box;
}

body {
    background-color: #00458B;
    margin: 0;
    padding: 0;

}

.App {
    display: flex;
    /*height: 85vh;*/
}
.mainContainer{
    width: 90%;
    margin: 0 auto;
    min-width: 330px;
}