*{
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;

}
h2{
    text-transform: uppercase!important;
    font-family: "Poppins",sans-serif;
    src: url('../src/Fonts/Poppins-Regular.ttf');
    margin:50px 0 90px 0;
    font-size: 40px;
}

.App {
    display: flex;

}
.mainContainer{
    width: 90%;
    margin: 0 auto;
    min-width: 330px;
}
.bodyColor{
    background-color:  #e76f51;
    transition: background-color 700ms;
}
.coldBodyColor{
    margin: 0;
    padding: 0;
    background-color:  #e76f51;
    width: 100%;
    transition: background-color 700ms;
}
.warmBodyColor{
    margin: 0;
    padding: 0;
    background-color:  #00458B;
    width: 100%;
    transition: background-color 700ms;
}


.mainContainer{
    border-top-left-radius: 10px;
    background-color: black;
}